@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="row">   
    <div class="panel">
        <table id="movies" class="table table-condensed table-responsive table-striped table-bordered">
            <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @*<div class="panel">
        <table class="table table-condensed table-responsive table-striped table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Genre.Name)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", new { id = item.Id }) </td>
                    <td>@item.Genre.Name </td>
                </tr>
            }
        </table>
    </div>*@
</div>
@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#movies').DataTable({
                ajax: {
                    url: '/api/movies',
                    dataSrc:''
                },
                columns: [
                    {
                        data: 'name'
                    },
                    {
                        data: 'genre.name'
                    }
                ]
            });            
        });        
    </script>
}
